.example-spacer {
    flex: 1 1 auto;
  }

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-card {
    min-width: 600px;
}

.tabelo {
    width: 100%;
    min-width: 50% !important;
}

.ctrn {
    margin-top: 150px
}

@media only screen and (max-width: 800px) {
    .ctrn {
        flex-direction: column;
        gap: 20px;
        margin-top: 0px;
    }
}

.table-container {
    height: 400px;
    width: 600px;
    overflow: scroll;
}

.jorge {
    margin-top: 30px;
    margin-left: 10px;
}

.bar {
    background-color: #317956;
    color: white;
  }

  #botaocaos {
    background-color: #317956;
  }