<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>JorgeCred</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="d-flex container justify-content-between ctrn">
  <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jorginho</mat-card-title>
        <mat-card-subtitle>Aqui você pode fazer suas transações</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <form>
        <div>
                  <mat-form-field class="w-100">
                    <mat-label>Meu Saldo</mat-label>
                    <input type="number" matInput disabled class="w-100" [value]="meu_saldo">
                  </mat-form-field>


          <mat-form-field class="w-100">
            <mat-label>Valor (R$)</mat-label>
            <input type="number" matInput [formControl]="valor_da_transacao" placeholder="Ex. 100" class="w-100">
          </mat-form-field>
        </div>

        <mat-form-field class="w-100">
          <mat-label>Beneficiado (Id da conta)</mat-label>
          <input type="name" matInput [formControl]="id_do_outro_mano_p_transacionar" placeholder="Ex. 123122123" class="w-100">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="jorge">
      <button mat-raised-button color="primary" (click)="fazerTransacao()">Transacionar</button>
    </mat-card-actions>
  </mat-card>

  @if (TRANSACOES_DO_INDIVIDUO.length > 0) {
    <div class="table-container">
      <mat-tab-group>
        <mat-tab label="Transações Efetuadas"> <table mat-table [dataSource]="TRANSACOES_DO_INDIVIDUO" class="mat-elevation-z2 tabelo">
  
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Afetado</th>
            <td mat-cell *matCellDef="let element"> {{element.targetAccount.applicationUserId}} </td>
          </ng-container>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Valor </th>
            <td mat-cell *matCellDef="let element"> R$ {{element.value}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table></mat-tab>
        <mat-tab label="Transações Recebidas"> Content 2 </mat-tab>
        <mat-tab label="Meu Cartão"> Content 3 </mat-tab>
      </mat-tab-group>
      
    </div>
  }

</div>