
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Jorginho</mat-card-title>
        <mat-card-subtitle>Nova senha:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
  
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Nova senha</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl">
            @if (passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')) {
            <mat-error>Please enter a valid password address</mat-error>
            }
            @if (passwordFormControl.hasError('required')) {
            <mat-error>password is <strong>required</strong></mat-error>
            }
          </mat-form-field>

        </form>
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="ChangePassword()">Entrar</button>
      </mat-card-actions>
    </mat-card>

  